<!doctype html>

<html lang = "en">

    <head>
        <meta charset= "utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel = "stylesheet" href = "./css/styles.css">
        <title>90 Days</title>
    </head>

    <body>
        <header>
            <nav>
                <ul class ="navlist">
                    <li class="navitem"><a href = "#home">Home</a></li>
                    <li class="navitem"><a href = "#about">About</a></li>
                    <li class="navitem"><a href = "#media">Media</a></li>
                </ul>
            </nav>

        </header>

        <div class ="tiptop">
            <h1>90 Days</h1>
            <!-- <h3>As a Consumer</h3> -->

      </div>
        <section>
            <div class = "intro">
                <h2>In the last 90 days...</h2>
                <p>I have:</p>
                <table class ="table table-condensed pagelinks">
                  <tr>
                    <td>
                      Watched a few
                      <a href ="#films"><span class = "glyphicon glyphicon-film"> films</span></a>
                    </td>

                  <td>

                    Drank a few
                    <a href ="#beers"><span class = "glyphicon glyphicon-glass"> beers</span></a>
                  </td>
                </tr>

                <tr>
                  <td>
                    Viewed a few
                    <a href ="#shows"><span class = "glyphicon glyphicon-hd-video"> shows</a>
                  </td>
                  <td>
                    Listened to a few
                    <a href ="#shows"><span class = "glyphicon glyphicon-cd"> albums</a>
                  </td>
                </tr>

                <tr>
                  <td>
                    Gone to some live
                    <a href ="#events"><span class = "glyphicon glyphicon-calendar"> events</a>
                  </td>

                  <td>
                    Eaten differnet
                    <a href ="#cuisines"><span class = "glyphicon glyphicon-cutlery"> cuisines</a>
                  </td>
                </tr>

                <tr>
                  <td>
                    ...and I have
                    <a href ="#traveled"><span class = "glyphicon glyphicon-road"> traveled</a> around Florida
                  </td>
                  <td></td>
                  <td></td>
                </tr>

                </tbody>
              </table>

                <br>
                <br>
                <div class ="row container-full">
                    ...so I wanted to take the oportunity to explore some of these things
                    I have been consuming lately to keep a database of spending, listening,
                    vieweing, and eating habits.
                </div>
            </div>

        <article id="films">

            <figure>
                <img src="pic_mountain.jpg" alt="The Pulpit Rock" width="304" height="228">
                    <figcaption>Fig1. - The Pulpit Rock, Norway.</figcaption>
            </figure>
        </article>

      <article id="beers">
            <figure>
                <img src="pic_mountain.jpg" alt="The Pulpit Rock" width="304" height="228">
                    <figcaption>Fig1. - The Pulpit Rock, Norway.</figcaption>
            </figure>
        </article>

          <article id="shows">
            <figure>
                <img src="pic_mountain.jpg" alt="The Pulpit Rock" width="304" height="228">
                    <figcaption>Fig1. - The Pulpit Rock, Norway.</figcaption>
            </figure>
        </article>

        <article id ="events">
            <figure>
                <img src="pic_mountain.jpg" alt="The Pulpit Rock" width="304" height="228">
                    <figcaption>Fig1. - The Pulpit Rock, Norway.</figcaption>
            </figure>
        </article>

        <article id ="cuisines">
            <figure>
                <img src="pic_mountain.jpg" alt="The Pulpit Rock" width="304" height="228">
                    <figcaption>Fig1. - The Pulpit Rock, Norway.</figcaption>
            </figure>
        </article>

        <article id ="traveled">
            <figure>
                <img src="pic_mountain.jpg" alt="The Pulpit Rock" width="304" height="228">
                    <figcaption>Fig1. - The Pulpit Rock, Norway.</figcaption>
            </figure>
        </article>


        </section>

            <footer> </footer>
    </body>
