body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    margin: 0px;
}

header {
    width: 100%;
    z-index: 5;

}

nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 40px;
    background: #fff;
    width: 100%;
    margin: 0;
    padding: 10px;
    z-index: 6;
}


.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    background-color: #fff;
}

.navitem {
    float: left;
    padding: 0 10px;
}

.navitem a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navitem a:hover {
    background-color: #ccc;
}

.tiptop {
  margin-top: 60px;
  text-align: center;
  color: #fff;
  background: url(../img/photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 105%;
  height: 1080px;
  z-index: 1;
}

.tiptop h1 {
  font-size: 6em;
  margin: 0;
  line-height: 1080px;
}

.intro, #films, #beers, #shows, #events, #cuisines, #traveled {
  background: linear-gradient(45deg, #2E3192, #1BFFFF);
  height: 1080px;
  margin: 0;
  padding: 40px;
}

.intro h2 {
  margin: 0 40px;
  font-size: 5em;
  color: orange;
  text-align: right;
}

.pagelinks {
  list-style-type: none;

}
